<h1>Users#new</h1>
<br>

<div class="container">
  <h2>Add a user:<br></h2>
  <%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :Email %>:<br>
    <%= f.text_field :email, placeholder: 'sergio@gmail.com', class: 'form-control' %><br>
  </div>
  <div class="form-group">
    <%= f.label :Password %>:<br>
    <%= f.text_field :password_digest, placeholder: '*********', class: 'form-control' %><br>
  </div>
  <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>
